@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: rgb(102, 126, 189);
}

* {
  box-sizing: border-box;
}

button {
  font-family: 'Roboto', sans-serif;
}

.paralax {
  position: relative; 
}

.preloader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 1;
  background: #667EBD;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 22px;
  color: #fff;
  transition: 400ms;
}

.preloader__spinner {
  color: #ffffff;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.btn {
  border: none;
  outline: none;
}

.paralax__bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.paralax__image {
  width: 120%;
  height: 120%;
  top: -10%;
  left: -10%;
  position: absolute;
  background-size: cover;
  background-position: center;
}

.paralax__back {
  background-image: url('./img/bg_back.png');
}

.paralax__front {
  background-image: url('./img/bg_front.png');
}

.home {
  /* Подобрать адаптивные значения */
  width: 100%;
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__btn {
  padding: 25px 70px;
  background: #DBE3FF;
  box-sizing: border-box;
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(19, 19, 19, 0.85);
  cursor: pointer;
  transition: 200ms;
}

.home__btn:hover {
  background: #b3b9cf;
}

.home__title {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  max-width: 870px;
  margin: 0;
}

.home__text {
  max-width: 870px;
  font-weight: normal;
  font-size: 32px;
  text-align: center;
  color: rgba(186, 247, 255, 0.8);
  margin-top: 47px;
  margin-bottom: 70px;
}

.home__backdrop {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(23, 35, 67, 0.54);
}

.home .container {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  max-width: 1054px;
  margin: 0 auto;
}

.title {
  margin: 70px 0;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: rgba(237, 237, 237, 0.9);
  text-transform: uppercase;
}

.advantages__icon {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
}

.advantages__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  margin-bottom: 70px;
}

.advantages__text {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.advantages__item {
  padding: 15px;
  background-color: #9CC5F5;
}

.advantages__item:nth-child(2n) {
  background-color: #DFEEFF;
}

.advantages__item:nth-child(1) .advantages__icon {
  background-image: url('./img/advantages/1.svg');
}
.advantages__item:nth-child(2) .advantages__icon {
  background-image: url('./img/advantages/2.svg');
}
.advantages__item:nth-child(3) .advantages__icon {
  background-image: url('./img/advantages/3.svg');
}
.advantages__item:nth-child(4) .advantages__icon {
  background-image: url('./img/advantages/4.svg');
}

.author {
  margin-bottom: 70px;
}

.author__container{
  background-color: #F8FFDA;
  color: rgba(19, 19, 19, 0.9);
  padding: 40px 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.author__title {
  font-size: 32px;
  text-transform: uppercase;
}

.author__bio {
  font-size: 22px;
}

.team__row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 30px;
  margin-bottom: 30px;
}
.team__row:nth-child(2) {
  grid-template-columns: 2fr 1fr;
}

.team__photo {
  background-color: #9CC5F5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
}

.team__photo img {
  width: 200px;
  height: 200px;
}

.team__bio {
  background-color: #D5E8FF;
  color: rgba(19, 19, 19, 0.9);
  padding: 30px;
  text-align: center;
  font-size: 18px;
}

.team__name {
  font-size: 32px;
  margin-bottom: 32px;
}