@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;
}

button {
  font-family: 'Inter', sans-serif;
}

.header {
  padding: 18px 0;
  width: 100%;
  position: fixed;
  z-index: 5;
  background: #fff;
  top: 0;
  left: 0;
}

.header .btn {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),0 1px 2px 0 rgba(0, 0, 0, 0.06);
  text-transform: uppercase;
  color: rgb(48, 48, 48);
  background-color: rgba(255, 255, 255, 0.64);
  padding: 10px 34px;
  border: 1px solid #C6C031;
  border-radius: 25px;
  text-decoration: none;
  transition: 200ms;
}



.header .btn:hover {
  background-color: rgba(224, 224, 224, 0.603);
}

.header__container {
  height: 52px;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__link {
  color: rgb(133, 133, 133);
  text-decoration: none;
  font-weight: 500;
  margin-right: 20px;
  transition: 300ms;
  white-space: nowrap;
}

.header__link.header__link--blue {
  color: rgb(79,70,229);
}

.header__link.header__link--blue:hover {
  color: rgb(49, 42, 182);
}

.header__link:hover {
  color: rgb(39, 39, 39);
}

.paralax {
  position: relative;
}

.preloader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 1;
  background: #667EBD;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 22px;
  color: #fff;
  transition: 400ms;
}

.preloader__spinner {
  color: #ffffff;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.btn {
  border: none;
  outline: none;
}

.paralax__bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.paralax__image {
  width: 120%;
  height: 120%;
  top: -10%;
  left: -10%;
  position: absolute;
  background-size: cover;
  background-position: right top;
}

.paralax__back {
  background-image: url('./img/bg_back.png');
}

.paralax__front {
  background-image: url('./img/bg_front.png');
}

.hero {
  /* Подобрать адаптивные значения */
  width: 100%;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  margin-top: 88px;
}

.container {
  max-width: 1054px;
  margin: 0 auto;
  width: 100%;
}

.hero__btn {
  padding: 16px 40px 18px;
  background: rgb(79, 70, 229);
  box-sizing: border-box;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.hero__btn:hover {
  background: rgb(67, 56, 202);
}

.hero__title {
  font-weight: 800;
  font-size: 50px;
  text-align: left;
  text-transform: uppercase;
  max-width: 870px;
  color: rgb(17, 24, 39);
  margin: 0;
}

.hero__text {
  max-width: 870px;
  font-weight: normal;
  font-size: 32px;
  text-align: left;
  color: rgb(17, 24, 39);
  margin-top: 47px;
  margin-bottom: 70px;
}

.hero__backdrop {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background-color: rgb(255, 255, 255);
}

.hero__container {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 120px;
}

.hero__decor {
  position: absolute;
  width: 300px;
  height: 100%;
}

.title {
  margin: 70px 0;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  color: rgb(17, 24, 39);
  text-transform: uppercase;
}

.advantages__icon {
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
}

.advantages__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 12px;
  margin-bottom: 70px;
}

.advantages__text {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  cursor: default;
}

.advantages__item {
  padding: 15px;
  background: #fff;
  color: rgb(17, 24, 39);
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  border-radius: 6px;
}

.advantages__item:hover {
  transform: scale(1.05);
  transition: 100ms;
}


.advantages__item:nth-child(1) .advantages__icon {
  background-image: url('./img/advantages/1.png');
}
.advantages__item:nth-child(2) .advantages__icon {
  background-image: url('./img/advantages/2.png');
}
.advantages__item:nth-child(3) .advantages__icon {
  background-image: url('./img/advantages/3.png');
}
.advantages__item:nth-child(4) .advantages__icon {
  background-image: url('./img/advantages/4.png');
}

.author {
  margin-bottom: 70px;
}

.author__container{
  color: rgb(17, 24, 39);
  padding: 40px 150px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.author__title {
  font-size: 32px;
  text-transform: uppercase;
}

.author__bio {
  font-size: 22px;
}

.team {
  margin-bottom: 120px;
}

.team__row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 30px;
  margin-bottom: 30px;
}
.team__row:nth-child(2) {
  grid-template-columns: 2fr 1fr;
}

.team__photo {
  background-color: #ffffff;
  display: flex;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  align-items: center;
  justify-content: center;
  padding: 100px;
}

.team__photo img {
  width: 200px;
  height: 200px;
}

.team__bio {
  background-color: rgb(17, 24, 39);
  color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  text-align: center;
  font-size: 18px;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
}

.team__name {
  font-size: 32px;
  margin-bottom: 32px;
}

.page-footer {
  background-color: rgb(17, 24, 39);
  padding: 40px 0;
}

.logo {
  width: 50px;
  margin-right: 60px;
  margin-bottom: 5px;
}

.page-footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-footer__copyright {
  color:#fff;
  font-size: 22px;
}

/* Служебные классы */

.strong {
  color: rgb(79, 70, 229);
}

@media (max-width: 1400px) {
  .hero {
    background-color: transparent;
    height: 586px;
  }
  .container {
    padding: 0 15px;
  }
  .hero__backdrop {
    width: 100%;
    height: 586px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .hero__container {
    margin-top: 30px;
  }

  .paralax__bg {
    height: 586px;
  }

  .hero__decor {
    display: none;
  }
}

@media (max-width: 992px) {
  .advantages__list {
    grid-template-columns: 1fr 1fr;
    row-gap: 12px;
  }

  .team__row {
    display: flex;
    flex-direction: column;
  }
  .team__row:nth-child(2) {
    display: flex;
    flex-direction: column-reverse;
  }
  .team__photo {
    margin-bottom: 15px;
    padding: 0;
    box-shadow: none;
  }

  .advantages__text {
    font-size: 16px;
  }

  .team__photo img {
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    border-radius: 50%;
  }

  .hero__text {
    margin-top: 15px;
    margin-bottom: 50px;
    font-size: 24px;
  }
  .hero__title {
    font-size: 38px;
  }
}

@media (max-width: 600px) {
  .header__nav {
    display: none;
  }
  .logo {
    margin-right: 0;
  }
  .header {
    padding: 6px 0;
  }
  .header__menu {
    cursor: pointer;
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
  }
  .header__menu div {
    width: 100%;
    height: 2px;
    background-color: rgb(79, 70, 229);
  }
  .advantages__list {
    grid-template-columns: 1fr;
    row-gap: 12px;
  }

  .hero {
    height: 380px;
    margin-top: 64px;
  }

  .paralax__bg {
    height: 380px
  }

  .hero__backdrop {
    height: 380px;
  }

  .hero__text {
    margin-top: 15px;
    margin-bottom: 50px;
    font-size: 18px;
  }
  .hero__title {
    font-size: 32px;
  }
}

@media (max-width: 400px) {
  .title {
    font-size: 24px;
    margin: 24px 0;
  }
  .author__title {
    font-size: 24px;
  }
  .team__name {
    font-size: 18px;
  }
  .team__bio {
    font-size: 16px;
  }
  .hero__text {
    margin-top: 15px;
    margin-bottom: 40px;
    font-size: 16px;
  }
  .hero__title {
    font-size: 24px;
  }

  .hero__btn {
    font-size: 14px;
  }
}